@font-face {
  font-family: 'lato_reg';
  src: url("../fonts/lato-reg-webfont.eot");
  src: url("../fonts/lato-reg-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-reg-webfont.woff") format("woff"), url("../fonts/lato-reg-webfont.ttf") format("truetype"), url("../fonts/lato-reg-webfont.svg#lato-reg-webfont") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'lato_lig';
  src: url("../fonts/lato-lig-webfont.eot");
  src: url("../fonts/lato-lig-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-lig-webfont.woff") format("woff"), url("../fonts/lato-lig-webfont.ttf") format("truetype"), url("../fonts/lato-lig-webfont.svg#lato-lig-webfont") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'lato_bol';
  src: url("../fonts/lato-bol-webfont.eot");
  src: url("../fonts/lato-bol-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-bol-webfont.woff") format("woff"), url("../fonts/lato-bol-webfont.ttf") format("truetype"), url("../fonts/lato-bol-webfont.svg#lato-reg-webfont") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #ffffff;
  font-family: 'lato_reg';
  font-size: 14px;
  line-height: 16px;
}
a {
  color: #022e5f;
}
.readmore {
  background-color: #5592ce;
  padding: 4px 8px;
  color: #d8d6d6;
}
.readmore:hover {
  color: #d8d6d6;
}
.nav {
  font-family: 'lato_bol', arial, sans-serif;
  font-size: 22px;
  background-color: #ffffff;
  height: 125px;
}
.nav li {
  border-left: 1px solid #022e5f;
  margin-top: 25px;
  padding: 0px 10px;
}
.nav li:first-child {
  border-left: 0px;
}
.toplogo {
  text-align: center;
  padding-top: 10px;
}
.bgimage {
  background: url("../images/home_background.jpg") no-repeat top center;
}
.hoofdding {
  height: 400px;
  padding-top: 30px;
}
.hoofdding a {
  font-size: 1.3em;
  padding: 5px;
  background-color: #363333;
  color: #ffffff;
}
h1,
h2,
h3,
h4,
h5 {
  margin-top: 0px;
  font-family: 'lato_bol';
}
h1 {
  font-size: 2.2em;
  color: #fff;
  text-shadow: 1px 1px 2px #575757;
}
h2 {
  font-size: 1.4em;
}
h3 {
  font-size: 1.1em;
  margin-top: 0px;
  font-family: 'lato_bol';
}
.tekst {
  font-size: 0.9em;
  margin-bottom: 10px;
  line-height: 1.5em;
}
.blok {
  background-color: #ffffff;
  height: 170px;
  margin-bottom: 10px;
  padding: 20px 15px;
  position: relative;
  overflow: hidden;
}
.extragroot {
  height: 530px;
}
.groot {
  height: 350px;
}
.donkergrijs {
  background-color: #363333;
  color: #d8d6d6;
}
.nopadding {
  padding: 0;
}
.wit {
  background-color: #FFF;
}
.nopaddingright {
  padding-right: 0px;
}
/*.row.no-gutter [class*='col-']:not(:first-child):not(:last-child):not('col-md-12') {
  padding-right:5px;
  padding-left:5px;
}

.row.no-gutter [class*='col-']:first-child  {
  padding-right:5px;
}

.row.no-gutter [class*='col-']:last-child  {
  padding-left:5px;
}*/
footer {
  font-size: 0.8em;
  padding-top: 20px;
}
.linksblok {
  float: left;
  padding-right: 30px;
}
.linksblok > a {
  font-family: 'lato_bol';
}
.adres {
  padding-right: 30px;
  color: #022e5f;
  float: left;
}
.linksblok li {
  list-style: none;
}
.linksblok ul {
  padding: 0px;
}
.marginonderaan {
  margin-bottom: 20px;
}
.socialmedia {
  float: right;
  text-align: right;
}
.top-nav {
  margin-top: 10px;
}
.taalbar {
  float: right;
  clear: left;
}
.nomargins {
  margin-left: -15px;
  margin-right: 0px;
}
.firstnopadding {
  margin-left: 0px;
  padding-left: 0px;
}
.middlenopadding {
  margin: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.lastnopadding {
  margin-right: 0px;
  padding-right: 0px;
}
.navbar-nav > li > a:hover {
  background-color: #022e5f;
  color: white;
}
.linkedin {
  background: url("../images/linkedin.png") no-repeat center center;
  width: 100%;
  height: 100%;
  display: block;
}
.img-banner {
  border: 1px solid #ffffff;
  margin: auto;
  widows: 100%;
}
